@model BoxNews.Models.CategoryViewModel.AddAccountViewModel;
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="row element-button">
                <h2>Thêm mới danh mục</h2>
            </div>
            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Add">
                <div class="mb-3">
                    <label for="" class="form-label">Tên danh mục</label>
                    <input type="text" class="form-control" asp-for="CategoryName"> 
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="description" rows="3" asp-for="Description"></textarea> 
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



