<!DOCTYPE html>
<html>
<head>
    <title>NewsFeed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/font.css" rel="stylesheet" />
    <link href="~/assets/css/li-scroller.css" rel="stylesheet" />
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/assets/css/theme.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            <ul class="top_nav">
                                <li><a href="/home/index">Home</a></li>
                            </ul>
                        </div>
                        <div class="header_top_right">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer id="footer">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInLeftBig">
                            <img src="~/images/logo.png"/>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer_widget wow fadeInRightBig">
                            <h2>Contact</h2>
                            <p>Nhóm G10</p>
                            <address>
                                Định Công,Hà nội
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <p class="copyright"><a href="index.html">BoxNews</a></p>
                <p class="developer">Developed By G10</p>
            </div>
        </footer>
    </div>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.li-scroller.1.0.js"></script>
    <script src="~/assets/js/jquery.newsticker.min.js"></script>
    <script src="~/assets/js/jquery.fancybox.pack.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>